@model CreatorUpdateFacilityDTO
@{
    var items = ViewBag.subcategories != null
         ? new SelectList(ViewBag.subcategories, "Id", "Name_en")
         : new SelectList(Enumerable.Empty<object>(), "Id", "Name_en");
}

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All">
    </div>
    <div class="form-group" hidden>
        <label asp-for="Id"></label>
        <input class="form-control" asp-for="Id">
    </div>
    <div>
        <label asp-for="Name_en"></label>
        <input asp-for="Name_en" class="form-control" />
        <span asp-validation-for="Name_en" style="color:red"></span>
    </div>
    <div>
        <label asp-for="Name_ar"></label>
        <input asp-for="Name_ar" class="form-control" />
        <span asp-validation-for="Name_ar" style="color:red"></span>
    </div>
    <div>
        <label asp-for="subcategoriesId"></label>
        <select asp-for="subcategoriesId" class="form-control" asp-items="items"></select>
        <span asp-validation-for="subcategoriesId" style="color:red"></span>
    </div>
    <button class="btn btn-outline-success" type="submit"> Update </button>
</form>
<br />
<div>
    <a asp-action="GetALl" class="btn btn-warning">Back to List</a>
</div>
@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}